html, body, #wrapper{
    height: 100%;
    width: 100%;
}
#header{
    height: 10px; 
    width: 100%;
}
#footer{
    height: 10px; 
    width: 100%;
}
#googleMap{
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0px;
    left: 0px;
}